<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    {{>header}}
    {{>footer}}
    <img src="./img/robot.png" />
    <p>{{name}}</p>
  </body>
</html>
