<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>

  <body>

    {{>header}} <!-- To render a partial add the extra character > , then provide the partial name which is the file name-->
      {{>footer}}
    <h1>{{title}} {{name}}</h1>
  </body>
</html>
